# Python
__pycache__/
*.py[cod]
venv/
*.ipynb_checkpoints/

# Large files
*.tif
*.h5
*.hdf5
*.pkl
*.model
data/raw/*.zip

# R
.Rhistory
.RData
.Rproj.user

# Data
*.gpkg-shm
*.gpkg-wal

# System
.DS_Store
*.swp

# Secrets
.env
*.key
